<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ASITPOSDBEntities" connectionString="metadata=res://*/POSDBModel1.csdl|res://*/POSDBModel1.ssdl|res://*/POSDBModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=59.152.97.179\MSSQL2K12;initial catalog=ASITPOSDB;persist security info=True;user id=sa;password=asit1qaz`123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--local-->
  <!--<add name="ASITPOSDBEntities" connectionString="metadata=res://*/POSDBModel1.csdl|res://*/POSDBModel1.ssdl|res://*/POSDBModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SABIDPC\MSSQL2K14;initial catalog=ASITPOSDB;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>